html {
    box-sizing: border-box;
    font-family: 'Open Sans', 'sans-serif';
    background-color: #fff;
    color: #444;
}

@page {
    size: A4;
    margin: 1cm;
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
}

header {
    display: block;
    margin-bottom: 4rem;
}

.addresses {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

h1 {
    text-align: center;
}

h1,
p {
    margin: 0 0 1em 0;
}

h1,
h2,
h3 {
    font-family: "Montserrat", Calibri, sans-serif;
}

.clearfix {
    clear: both;
}

.logo {
    max-width: 4cm;
    max-height: 1.5cm;
}

.logo>img {
    max-width: inherit;
    max-height: inherit;
}

table {
    border-collapse: collapse;
}

table thead {
    height: 60px;
    color: white;
    background: #5387be;
}

th {
    font-family: "Montserrat", Calibri, sans-serif;
}

td {
    vertical-align: top;
}

td,
th {
    padding: 0.2cm;
}

tr:nth-child(even) {
    background: #f1f8fb;
}

.align-right {
    text-align: right;
}

footer {
    font-size: 0.8em;
}
